{% extends "base.html" %} {% block title %}About Me{% endblock %} {% block content
    %}
    <br>
    <h1 align="center">About Me</h1>
    <br>
    <div style="text-align: center;">
    <p>
        Helllo all, and welcome to my About Me page where I Will give you an entire rundown of what made me, me!
    </p>
    <p>
        This is me, 16 years of age in a London Cable Car - it is also my linkedin profile picture which can be found <a href="https://www.linkedin.com/in/samuel-wylie-6a171a250/">here</a>
    </p>
    <style>
        img {  
            width: 20%;
            height: 20%;
          }
    </style>
    <div>
        <img src="/static/Profile Photo.JPG">
        <img src="/static/IMG-8115.JPG">
        <img src="/static/IMG-8113.JPG">
    </div>

    
    <br>
    <br>
    <p>Having recently achieved straight 9s at GCSE, I have enjoyed the step up to Computer Science, Physics, Maths and Further Maths A-Level. My primary passion is Coding, and my enthusiasm only increases as I gain more knowledge in this ever-evolving discipline. 
        <br>
        I am looking forward to participating in the Gold Duke of Edinburgh scheme this academic year.
        <br>
        Outside of school, I am a highly committed member of my high-level club football team and I have captained sides at several age grades. I am also an assistant coach for a lower age girls' team within my club. In addition, I enjoy badminton. 
        <br>
        I play the guitar and I love contemporary music. 
        <br>
        I also tutor maths.
        <br>
        Furthermore, I have been lucky enough to have had the cultural eye-opening experience of living abroad: spending one year in Croatia, one year in Abu Dhabi and six years in Qatar!
    </p>
    </div>
    {% endblock %}